@import './shadcn.css';
@import './typography.css';
@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #a31313;
  --color-secondary: #ffb800;
  --color-accent: #ff6900;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  button,
  a {
    @apply cursor-pointer transition-all hover:scale-[0.98];
  }

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--border) var(--background);
  }

  .scrollbar-hide {
    overflow: auto;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
  }
}
